body {
	/*background-color: blue;*/
	/*color: white;*/
	margin: 0;
	/*margin-top: 72px;*/
	font-family: Tahoma
}

nav {
	position: fixed;
	background: transparent;
	width: 100%;
	top: 0;
	left: 0;
	text-align: center;
	/*opacity: .80;*/
}

nav ul {
	padding: 0;
/*	background-color: white;*/
	margin-top: 0px;
	height: 50px;
	padding-top: 16px;

}

nav ul ul {
	display: none;
	position: fixed;
	background-color: white;
}

nav > ul > li {
	display: inline-block;
	padding: 0 30px;

}

nav ul li:hover ul {
	display: block;
}

h1 {
	display: inline-block;
	padding: 0 30px;
	vertical-align: top;
	padding: 10px;

}

nav li {
	display: inline-block;
	padding: 0 30px;
	vertical-align: top;
	padding: 10px; 
}

nav li a {
	color: #F2E1B1;
	font-size: 1.5em;
}

nav button {
	display: none;
}

section {
	margin-top: -50px;
	padding-top: 50px;
	height: 800px;
}

#menu-button {
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	z-index: 1;
}

.current {
	font-weight: bold;
}

#home {
	margin-top: 0px;
	background-size: 1366px 800px;
	background-repeat: no-repeat;
	background-image: url(../images/nightsky.jpeg);
}

.name {
	width: 550px;
	height: 250px;
	margin: 0 auto;
	margin-top: 150px;
	color: #F2E1B1;
	font-size: 1.7em;
	font-family: Tahoma;
	font-weight: lighter;
}

.myname {
	font-size: 1.8em;
	margin-bottom: 0;
	padding-bottom: 20px;
	font-weight: bold;
}

.title {
	margin-top: 0;
	padding-top: 0;
	font-weight: lighter;
}

.container {
	width: 1366px;
	height: 700px;	
}

.col-sm-12 {
	color: grey;
	margin-bottom: 50px;
}

ul.skills {
	text-align: center;
}

.skills li {
	list-style: none;
	display: inline-block;	
}

li.responsive {
	color: #333F4C;
    opacity:.5;
    padding: 6px 10px 2px;
    border: 1px solid #333F4C;
    margin-bottom: 5px;
    margin-right: 3px; 
}

li.html5 {
	color: #333F4C;
    opacity:.5;
    padding: 6px 10px 2px;
    border: 1px solid #333F4C;
    margin-bottom: 5px;
    margin-right: 3px; 
}

li.css{
	color: #333F4C;
    opacity:.5;
    padding: 6px 10px 2px;
    border: 1px solid #333F4C;
    margin-bottom: 5px;
    margin-right: 3px; 
}

li.java {
	color: #333F4C;
    opacity:.5;
    padding: 6px 10px 2px;
    border: 1px solid #333F4C;
    margin-bottom: 5px;
    margin-right: 3px; 
}

li.jquery{
	color: #333F4C;
    opacity:.5;
    padding: 6px 10px 2px;
    border: 1px solid #333F4C;
    margin-bottom: 5px;
    margin-right: 3px; 
}

.col-sm-12 {
		margin-bottom: 10px;
}

#projects {
	color: white;
	margin-top: 0px;
	background-size: 1366px 800px;
	background-repeat: no-repeat;
	background-image: url(../images/oceansky.jpeg);
	
}

#portfolio {
	color: #333F4C;
	margin-top: 0px;
	background-size: 1366px 800px;
}

/*up to 786 pixels page will look like this*/

@media (max-width: 768px) {

	nav ul ul {
		position: static;
	}

	nav ul ul li {
		padding: 0;
		font-size: .8em;
	}

	nav > ul > li {
		display: block;
	}

	nav ul {
		display: none;
	}

	#menu-button {
		display: block;
	}

	body {
		margin-top: 0;
	}

	h1.myname {
		font-size: 1.7em;
	}

	.container {
		width: 400px;
		height: 1073px;
	}


}